/**************************\
  Basic Modal Styles
\**************************/

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-container-wrap {
  padding: 4px;
  background-color: var(--white);
  border-radius: 12px;
  overflow: hidden;
}
.modal__container {
  position: relative;
  background-color: var(--white);
  padding: 24px 16px;
  max-width: 800px;
  max-height: 680px;
  height: 96svh;
  width: 94svw;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--light-blue) transparent;

  @include laptop {
    padding: 24px;
  }

  &.modal-form-container {
    padding: 0;
    max-width: 620px;
  }
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden='false'] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='false'] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

//----------------------------------

.modal-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--blue);
}

.modal-close {
  @include pointer;
  transition: all 250ms var(--cubic);
  border-radius: 100%;
  padding: 4px;
  @include hover {
    background-color: var(--light-blue);
  }

  svg {
    pointer-events: none;
  }
}
